.sidebar-wide {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16%;
    z-index: 100;
    border-right-color: rgb(31, 31, 31);
    border-right-width: 1px;
    border-right-style: solid;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 1%;
}

.instagram-logo {
    width: 100px;
    display: block;
}

.sidebar-wide a {
    padding-left: 16px;
}


.sidebar-logo #menu-icon {
    cursor: pointer;
    display: none;
}

.navlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-row,
.sidebar-last-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 0;
    border-radius: 24px;
    width: auto;
    transition: background-color 0.3s;
    padding-left: 4%;
    margin: 4px;
}

.sidebar-row:hover,
.sidebar-last-row:hover,
.menu-icon:hover {
    background-color: rgb(23, 23, 23);
}


.sidebar-row:hover .menu-icon,
.sidebar-last-row:hover .menu-icon,
.menu-icon:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
    transition-timing-function: ease;
}


.menu-icon {
    font-size: 30px;
    position: relative;
    /* transition: transform 0.1s;
    transition-timing-function: ease; */
}


.sidebar-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.red-icon {
    position: absolute;
    background-color: rgb(255, 60, 60);
    width: 8px;
    height: 8px;
    border-radius: 5px;
    top: 1px;
    right: 1px;
}

@media (max-width:750px) {
    .sidebar-wide {
        /* display: none; */
        visibility: collapse;
    }
}

@media (min-width: 750.02px) and (max-width: 1000px) {
    .sidebar-wide {
        width: auto;


    }

    .sidebar-wide p {
        display: none;
    }

    .sidebar-logo {
        width: 0;
    }

    .sidebar-row {
        margin: 0 5px;
    }

    .sidebar-icon {
        padding-left: 5px;
    }

}