.sidebar-wide {
    /* background-color: lightcoral; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    z-index: 100;
    color: white;
    border-right-color: rgb(31, 31, 31);
    border-right-width: 1px;
    border-right-style: solid;
    background-color: black;

}

.sidebar-logo {
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100px;
    cursor: pointer;
}

.channel-picture {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.sidebar-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 15px;
    padding-left: 20px;
}

.sidebar-row img {
    margin-right: 15px;

}

.sidebar-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    height: 45px;
    border-radius: 20px;
    margin-right: 20px;
    width: 90%;
    transition: background-color 0.3s;

}

.sidebar-row:hover {
    background-color: rgba(28, 28, 28, 0.9);
}

.sidebar-last-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 45px;
    border-radius: 20px;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 2%;
    width: 90%;

}

.sidebar-last-row:hover {
    background-color: rgba(28, 28, 28, 0.9);
}

.sidebar-row .tooltip {
    position: relative;
}


.sidebar-row .red-icon {
    position: absolute;
    background-color: rgb(255, 60, 60);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    top: 0px;
    right: 15px;

}


.sidebar-last-row {
    margin-top: 90px;
}